
.breadCrumbs{
    margin-top: 80px;
    text-align: left;
    .item{
    transition: 0.4s ease-in;
    padding: 2px;
    color: white;
    background-color: #6495ED;
    cursor: pointer;
    border-radius: 5px;
    }
    .item:hover{
        background-color: red;
    }
}
.data{
    text-align: center;
    div{
        img{
            width: 100px;
            border-radius: 10px;
        }
        a{
            text-align: center;
            background-color: #F5F6FD;
            padding: 5px;
            border-radius: 10px;
            transition: 0.3s ease-in;
        }
        a:hover{
            background-color: white

        }
    }
    
}

.component{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;

    .product{
        background-color: #F5F6FD;
        padding: 10px;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 25px;
        max-width: 300px;
        cursor: pointer;
        img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }

}
}
@media only screen and (max-width: 1200px) {
.component{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    .product{
        background-color: #F5F6FD;
        padding: 10px;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 25px;
        max-width: 300px;
        img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }

}
}

}
@media only screen and (max-width: 800px) {

.component{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    .product{
        background-color: #F5F6FD;
        padding: 10px;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 25px;
        max-width: 300px;
        img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }

}
}

}

@media only screen and (max-width: 500px) {

.component{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    .product{
        background-color: #F5F6FD;
        padding: 10px;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 25px;
        max-width: 90%;
        img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }

}
}

}

