.log{
    display: none;
}

.logOutAcount{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6E6866;
    width: 100%;
    height: 100%;
    .component{
        background-color: #1B212D;
        color: white;
        padding: 12px;
        position: absolute;
        .text{
            color: red;
        }
        .button{
            display: flex;
            justify-content: space-around;
            button{
                border-radius: 10px;
                padding: 10px;
                cursor: pointer;
                transition: 0.3s ease-in;
            }
            button:hover{
                background-color: red;
                color: white;
            }
            
        }
    }
}

.logouts{
    display: none;
}

div{
    .nav{
        margin-top: 80px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;
        .active{
            background-color: white;
            color: black;
        }
        a{
            text-decoration: none;
            color: white;
            padding: 5px;
            background-color: #263238;
            border-radius: 10px;
            font-size: 18px;
        }
    }
}


.profile{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
    img{
        width: 80px;
    }
    .logOut{
        position: absolute;
        right: 10px;
        top: 80px;
        background-color: azure;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.4s ease-in;
    }
    .logOut:hover{
        background-color: red;
    }

}


.component{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    .product{
        background-color: #F5F6FD;
        padding: 10px;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 25px;
        max-width: 300px;
        cursor: pointer;
        img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }
        button{
            background-color: #6E6866;
            color: white;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s ease-in;
        }
        button:hover{
            background-color: red;
            color: white;
            border-radius: 10px;
        }

}
}
@media only screen and (max-width: 1200px) {
.component{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    .product{
        background-color: #F5F6FD;
        padding: 10px;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 25px;
        max-width: 300px;
        img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }

}
}

}
@media only screen and (max-width: 800px) {

.component{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    .product{
        background-color: #F5F6FD;
        padding: 10px;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 25px;
        max-width: 300px;
        img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }

}
}

}

@media only screen and (max-width: 500px) {

.component{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    .product{
        background-color: #F5F6FD;
        padding: 10px;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 25px;
        max-width: 90%;
        img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }

}
}

}

